<h1>SDVRP</h1>

<div ID="GridContainer">
  <div ID="MapContainer">
    <ng-container *ngFor="let point of points; let index = index">
      <span id="POINT_{{index}}" class="map-point" style="left: {{point.position.x}}px; top: {{point.position.y}}px;">{{index}}</span>
    </ng-container>
  </div>

  <div ID="PointsListContainer" *ngIf="points">
    <table class='table table-striped' aria-labelledby="tableLabel">
      <thead>
      <tr>
        <th>Indeks</th>
        <th>Popyt</th>
        <th>Pozycja X</th>
        <th>Pozycja Y</th>
        <th>Akcja</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let point of points; let index = index">
        <ng-container>
          <td class="number-row">{{ index }}</td>
          <td class="number-row"><input type="number" size="2" class="number-input" value="{{ point.demand }}" (change)="updateDemand($event, index)"></td>
          <td class="number-row"><input type="number" size="2" class="number-input" value="{{ point.position.x }}" (change)="positionXUpdate($event, index)"></td>
          <td class="number-row"><input type="number" size="2" class="number-input" value="{{ point.position.y }}" (change)="positionYUpdate($event, index)"></td>
          <td><button (click)="delete(index)">D</button></td>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>

  <div ID="ParametersContainer">
    <div class="parameter-input">
      <label for="FileUploadInput">Importuj</label>
      <input type="file" id="FileUploadInput" (change)="importProblem($event)"><br/>
      <button (click)="exportProblem(null)">Eksport</button>
    </div>
    <div class="parameter-input">
      Ładowność pojazdu:<br/>
      <input class="number-input" [defaultValue]="0" type="number" size="2" ID="VehicleCapacityInput">
    </div>
    <div class="parameter-input" ID="CostFunctionContainer">
      <label for="CostFunctionTypeInput">Funkcja kosztu:</label>
      <select ID="CostFunctionTypeInput">
        <option label="Liniowa" value=0></option>
        <option label="Kwadratowa" value=1></option>
        <option label="Odwrotna" value=2></option>
      </select>
    </div>
  </div>

  <div ID="ControlsContainer">
    <button ID="AddPointButton" (click)="addPoint()">
      Dodaj punkt
    </button>
    <div class="parameter-input">
      Liczba iteracji:<br/>
      <input class="number-input" type="number" size="4" value="10000" ID="MaxIterationsInput">
    </div>
    <button ID="SubmitButton" (click)="submit()">
      Oblicz
    </button>
  </div>
</div>
